/* Палітра і основні стилі сайту */
:root {
  --accent-color: #2196f3;
  --accent-active: #188ce8;
  --black-logo: #000000;
  --main-text: #212121;
  --secondary-text: #757575;
  --white-text: #ffffff;
  --footer-text: rgba(255, 255, 255, 0.6);
  --white-background: #ffffff;
  --grey-background: #f5f4fa;
  --dark-background: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-text);
  background-color: var(--white-background);
}

button {
  cursor: pointer;
  font-family: inherit;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */
.header {
  background-color: var(--white-background);
}
.logo-header {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
  color: var(--black-logo);
}
.logo-web {
  color: var(--accent-color);
}
.nav-list {
  list-style-type: none;
}
.nav-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--main-text);
}
.contacts {
  list-style-type: none;
}
.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--secondary-text);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}
.header .active-link {
  color: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--dark-background);
}
.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
  color: var(--white-text);
}
.address-list {
  list-style-type: none;
}
.address-list .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-decoration: none;
  color: var(--footer-text);
}
.address-list [rel] {
  color: var(--white-text);
}
.address-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-color);
}

/* ---------------studio (main page)--------------- */
/* hero */
.hero {
  background-color: var(--dark-background);
}
.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-text);
  background-color: var(--accent-color);
}

.hero button:hover,
.hero button:focus {
  background-color: var(--accent-active);
}

/* benefits */
.benefits {
}
.benefits .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text);
}
.benefits-list {
  list-style-type: none;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* work */

.work .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text);
}
.work-list {
  list-style-type: none;
}

/* command */
.command {
  background-color: var(--grey-background);
}
.command .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text);
}
.command-list {
  list-style-type: none;
}
.command-list .item {
  background-color: var(--white-background);
}
.command-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text);
}
.command-list .text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ---------------portfolio page--------------- */
.filter-list {
  list-style-type: none;
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--main-text);
  background-color: var(--grey-background);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
}
.project-list {
  list-style-type: none;
}
.project-list .link {
  text-decoration: none;
  color: inherit;
}
.project-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-text);
}
.project-list .text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
